@import url('https://fonts.googleapis.com/css?family=Baloo|Exo|Special+Elite|Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Special+Elite');

h1{
	text-transform: uppercase;
	color: #fff;
	font-size: 5rem;
	font-family: 'Special Elite', cursive;
	font-family: 'Yatra One', cursive;
	font-family: 'Baloo', cursive;
	font-family: 'Exo', sans-serif;
	padding: 1rem;
	text-align: center;
}

hr{
	color: #fff;
	margin: 15px 0;
}

main{
	width: 50%;
	margin: 20px auto 10px auto;
	background: rgba(0, 0, 0, .5);
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
}

.content{
	background: #006064;
	margin: 2rem auto;
	padding: 1rem;
	width: 70%;
}

fieldset{
	margin-bottom: 1rem;
}

fieldset:last-child{
	margin-bottom: 0;
}

.content label{
	display: block;
}

p{
	font-size: 40px;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: 'Special Elite', cursive;
	font-family: 'Josefin Sans', sans-serif;
}

label, p{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	font-family: 'Special Elite', cursive;
	font-family: 'Josefin Sans', sans-serif;
}

input{
	margin: 10px 0;
	padding: 15px 10px;
	width: 94%;
	font-size: 1.5rem;
}

input:focus{
	outline: none;
}

::-webkit-input-placeholder{
	font-family: FontAwesome;
	text-align: left;
}

.botaoPadrao{
	font-family: 'Special Elite', cursive;
	font-family: 'Yatra One', cursive;
	font-family: 'Baloo', cursive;
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
	background: #EF6C00;
	padding: 20px;
	width: 50%;
	margin: 1rem auto 2rem auto;
	text-align: center;


}

.botaoPadrao a{
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 5px;
	color: #fff;
	text-decoration: none;
}

.autorImagem{
	margin: 0 auto;
	color: #fff;
}

.main-footer{
	font-family: 'Special Elite', cursive;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	margin: 20px;
}

.regras{
	margin: 0 auto 30px auto;
	color: #fff;
	font-size: 1.5rem
}

.regras h2{
	font-size: 3rem;
	font-family: 'Special Elite', cursive;
	font-family: 'Yatra One', cursive;
	font-family: 'Baloo', cursive;
	font-family: 'Exo', sans-serif;
}

.regras li{
	margin: 10px 0;
}
