{% extends "base.html" %}

{% block content %}
    <h1>Olá, {{ lead.name }}. Você iniciou o quiz!</h1>


    <form action="{% url 'quiz:save' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="token" value="{{ lead.token }}">

        {% for question in questions %}
            <div>
                {{ question.question_title }} <br>

                {% for choice in question.choice_set.all %}
                    <input type="radio" name="question-{{ question.id }}" value="{{ choice.choice_letter }}">{{ choice.choice_text }}
                {% endfor %}
            </div>
        {% endfor %}

        <input type="submit" value="Finalizar">
    </form>
{% endblock %}
