{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Quiz do Estilo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/index.css" %} ">
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="page-footer grey darken-2">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col s6 left-align">
                            © 2016 Quiz do Estilo
                        </div>
                        <div class="col s6 right-align">
                            Imagem de fundo por <a href="http://www.freepik.com" target="_blank">Teksomolika / Freepik</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </body>
</html>
